.container {
    max-width: 1200px;  /* Adjust width as needed */
    margin-top: 20px;
    font-family: 'Poppins', 'Inter', sans-serif;
    padding: 40px 20px;
}

.heading{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.about_me_left{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size:20px;
    text-align: center;
    width:50%;
}
.about_me_right{
    text-align: center;
    width:40%;
}
.about_me_info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
.about_me{  
    margin-top: 10%;
}